<div class="container-fluid p-0 mb-3">

	<ngb-carousel *ngIf="images">
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[0]" alt="Random first slide" class="img-fluid" />
			</div>
			<div class="carousel-caption">
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[1]" alt="Random second slide" class="img-fluid" />
			</div>
			<div class="carousel-caption">
				<h3>Second slide label</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[2]" alt="Random third slide" class="img-fluid" />
			</div>
			<div class="carousel-caption">
				<h3>Third slide label</h3>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			</div>
		</ng-template>
	</ngb-carousel>

	 <!-- START THE FEATURETTES -->

	 
	<h2 class="text-center display-2 my-3"> What we offer</h2>
	 
	<hr>

	 <div class="row featurette">
	   <div class="col-md-7">
		 <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
		 <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	   </div>
	   <div class="col-md-5">
		 <img class="featurette-image img-fluid mx-auto" src="/assets/pictures/generic-1.jpg" alt="Generic placeholder image">
	   </div>
	 </div>

	 <hr class="featurette-divider">

	 <div class="row featurette">
	   <div class="col-md-7 order-md-2">
		 <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
		 <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	   </div>
	   <div class="col-md-5 order-md-1">
		 <img class="featurette-image img-fluid mx-auto" src="/assets/pictures/generic-2.jpg" alt="Generic placeholder image">
	   </div>
	 </div>

	 <hr class="featurette-divider">

	 <div class="row featurette">
	   <div class="col-md-7">
		 <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
		 <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	   </div>
	   <div class="col-md-5">
		 <img class="featurette-image img-fluid mx-auto" src="/assets/pictures/generic3.jpg" alt="Generic placeholder image">
	   </div>
	 </div>

	 <hr class="featurette-divider">

	 <!-- /END THE FEATURETTES -->

</div>